body {
    margin: 0;
    padding: 0;
}


a {
    text-emphasis: none;
}


nav {
    /* background-attachment: fixed; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(235, 234, 234, 0.833);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.dormy {
    padding-left: 20px;
    font-size: 30px;
}

a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    padding-right: 20px;
    transition: 0.5s;
}

a:hover {
    color: #1ca4e0;
}

.sign {
    background-color: #1ca4e0;
    border: none;
    color: black;
    padding: 6px;
    border-radius: 10px;
    font-size: 15px;
    margin-right: 20px;
    transition: 0.5s;
}

.sign:hover {
    background-color: white;
}


.hero {
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(img/img.state.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;

}

.hero {
    text-align: center;
    padding-top: 400px;

}


.p-hero {
    color: white;
    font-size: 35px;
}

.test {
    color: #1ca4e0;
}

.h-hero {
    color: rgb(255, 255, 255);
    font-size: 65px;
}

.up-hero {
    background-color: #1ca4e0;
    border: none;
    color: rgb(0, 0, 0);
    padding: 6px;
    border-radius: 10px;
    font-size: 15px;
    margin-right: 20px;
    transition: 0.5s;
    margin-left: 28px;
}

.up-hero:hover {
    background-color: rgb(255, 255, 255);
}

.test2 {
    color: #1ca4e0;
}




/* كود سما  */





.address {
    font-size: 70px;
    text-align: center;
}


.content1 {
    display: inline-block;
    padding: 30px;
    background-color: rgba(181, 172, 172, 0.34);
    margin-left: 50px;
    margin-left: 200px;
    text-align: center;
    border-radius: 9px;
}

.content2 {
    display: inline-block;
    padding: 30px;
    background-color: rgba(181, 172, 172, 0.34);
    margin-left: 190px;
    text-align: center;
    border-radius: 9px;
}

.content3 {
    display: inline-block;
    padding: 20px;
    background-color: rgba(181, 172, 172, 0.34);
    margin-left: 50px;
    padding-top: 25px;
    border-radius: 9px;
    text-align: center;
    margin-left: 200px;

}

.content4 {
    display: inline-block;
    padding: 20px;
    background-color: rgba(181, 172, 172, 0.34);
    margin-left: 50px;
    padding-top: 25px;
    border-radius: 9px;
    margin-left: 180px;
    text-align: center;
}


.container .content1 img {
    width: 400px;
    height: 245px;
}

.container .content2 img {

    width: 400px;
    height: 245px;
}

.container .content3 img {

    width: 430px;
    height: 330px;
}

.container .content4 img {

    width: 430px;
    height: 330px;
}

.button1 {
    color: rgb(0, 0, 0);
    background-color: rgb(162, 121, 222);
    border: #1ca4e0 solid;
    border-radius: 10px;
    padding: 6px;
    margin-right: 10px;
    transition: 0.5s;
    border: none;
}

.button1:hover {
    background-color: white;
}


.id {
    font-size: 20px;
}

.content1 {

    transition: 0.6s ease;
}

.content1:hover {
    transform: scale(1.1);

}

.content2 {

    transition: 0.6s ease;
}

.content2:hover {
    transform: scale(1.1);

}

.content3 {

    transition: 0.6s ease;
}

.content3:hover {
    transform: scale(1.1);

}

.content4 {

    transition: 0.6s ease;
}

.content4:hover {
    transform: scale(1.1);

}


.page4 {
    text-align: center;
    margin-top: 60px;
    background-color: rgb(45, 45, 176);
    width: 100%;
    color: white;
    border-radius: 20px;
}


.page4 .h2 {
    padding-left: 30px;
}

.page4 .button5 {
    margin-bottom: 30px;
    background-color: rgb(30, 184, 151);
    transition: 0.5s;
    font-size: 30px;
    margin-left: 90px;
    margin-bottom: 20px;
    width: 25%;
    margin-top: 30px;
    border-radius: 30px;
    border: none;
}

.page4 .button5:hover {

    background-color: white;
}